<!DOCTYPE html>
<html data-theme="dark">
    <head>
<link rel="stylesheet" href="_assets/pico.min.css"> 
<link rel="stylesheet" href="_assets/app.css">
<script src="/_assets/htmx.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokédex</title>

</head>
<body class="container">
    <h2 class="title">Pokémons:</h2> 
    <div class="container">
        
            <button
                hx-post="/api/pokemons"
                hx-target="#nothing"
            >
               Add Pokémon
            </button>
        
 

        <div class="overflow-auto fixed-container">
            {% for pokemon in pokemons %}
            <article
              id="{{ pokemon.id }}"
            >
                <header>
                    <p><strong>Name:</strong> {{ pokemon.name }}</p>
                    <p>Id: {{ pokemon.id }}</p>
                </header>
             
                <body>
                    <p class="types">Type:</p>
                    <ul>
                      {% for type in pokemon.types %}
                      <li class="{{ type }}-type-item">{{ type }}</li>
                      {% endfor %}
                    </ul>
                
                    <p class="evolution-item">Evolutions:</p>
                    <ul>
                      {{ pokemon.evolutions }}
                    </ul>
                </body>
                
                <div id="nothing">
                </div>
             
            </article>
           
            {% endfor %}
        </div>
 
</div>
</body>
</html>